---
interface Props {
  name: string;
  imageSrc: string;
  imageRight?: boolean;
}
const { name, imageSrc, imageRight = false } = Astro.props;
const firstChar = name.charAt(0).toUpperCase();
const restChars = name.slice(1).toLowerCase();
---

<div
  class=`
group grid grid-cols-3 overflow-hidden h-72 rounded-4xl
hover:bg-deep bg-deep 
border-2 sm:border-4 border-black
shadow-neob-md sm:shadow-neob-xl shadow-black 
hover:scale-105 transition duration-150 ease-in-out
`
>
  {
    !imageRight && (
      <div class="col-span-1">
        <img
          src={imageSrc}
          class="object-cover size-full border-r-2 sm:border-r-4 border-black"
          alt={`Project image of project ${name}`}
        />
      </div>
    )
  }
  <div class="flex flex-col col-span-2 p-4">
    <h3 class="text-4xl">
      <span class="group-hover:text-primary">{firstChar}</span>{restChars}
    </h3>
    <p class="grow"><slot /></p>
    <div class="flex items-center gap-2 w-full">
      <slot name="icons" />
    </div>
  </div>
  {
    imageRight && (
      <div class="col-span-1">
        <img
          src={imageSrc}
          class="object-cover size-full border-l-2 sm:border-l-4 border-black"
          alt={`Project image of project ${name}`}
        />
      </div>
    )
  }
</div>
